In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("E:\\ML Testing\\retail_store\\Online_Retail.xlsx")
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5         536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6         536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7         536366     22633               HAND WARMER UNION JACK         6
8         536366     22632            HAND WARMER RED POLKA DOT         6
9         536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32
10        536367     22745           POPPY'S PLAYHOUSE BEDROOM          6
11        536367     22748            POPPY'S PLAYHOUSE KITCHEN         6
12        536367     22749    FELTCRAFT PRINCESS CHARLOTTE DOLL         8
13        536367     22310              IVORY KNITTED MUG COSY          6
14        536367     84969   BOX OF 6 ASSORTED COLOUR TEASPOONS         6
15        536367     22623        BOX OF VINTAGE JIGSAW BLOCKS          3
16        536367     22622       BOX OF VINTAGE ALPHABET BLOCKS         2
17        536367     21754             HOME BUILDING BLOCK WORD         3
18        536367     21755             LOVE BUILDING BLOCK WORD         3
19        536367     21777          RECIPE BOX WITH METAL HEART         4
20        536367     48187                  DOORMAT NEW ENGLAND         4
21        536368     22960             JAM MAKING SET WITH JARS         6
22        536368     22913          RED COAT RACK PARIS FASHION         3
23        536368     22912       YELLOW COAT RACK PARIS FASHION         3
24        536368     22914         BLUE COAT RACK PARIS FASHION         3
25        536369     21756             BATH BUILDING BLOCK WORD         3
26        536370     22728            ALARM CLOCK BAKELIKE PINK        24
27        536370     22727            ALARM CLOCK BAKELIKE RED         24
28        536370     22726           ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724      PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                                  ...       ...
541879    581585     22726           ALARM CLOCK BAKELIKE GREEN         8
541880    581585     22727            ALARM CLOCK BAKELIKE RED          4
541881    581585     16016          LARGE CHINESE STYLE SCISSOR        10
541882    581585     21916      SET 12 RETRO WHITE CHALK STICKS        24
541883    581585     84692          BOX OF 24 COCKTAIL PARASOLS        25
541884    581585     84946         ANTIQUE SILVER T-LIGHT GLASS        12
541885    581585     21684     SMALL MEDINA STAMPED METAL BOWL         12
541886    581585     22398           MAGNETS PACK OF 4 SWALLOWS        12
541887    581585     23328   SET 6 SCHOOL MILK BOTTLES IN CRATE         4
541888    581585     23145       ZINC T-LIGHT HOLDER STAR LARGE        12
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10
541894    581587     22631             CIRCUS PARADE LUNCH BOX         12
541895    581587     22556       PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555            PLASTERS IN TIN STRONGMAN        12
541897    581587     22728            ALARM CLOCK BAKELIKE PINK         4
541898    581587     22727            ALARM CLOCK BAKELIKE RED          4
541899    581587     22726           ALARM CLOCK BAKELIKE GREEN         4
541900    581587     22730           ALARM CLOCK BAKELIKE IVORY         4
541901    581587     22367      CHILDRENS APRON SPACEBOY DESIGN         8
541902    581587     22629                  SPACEBOY LUNCH BOX         12
541903    581587     23256          CHILDRENS CUTLERY SPACEBOY          4
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5      2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6      2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7      2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8      2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9      2010-12-01 08:34:00       1.69     13047.0  United Kingdom
10     2010-12-01 08:34:00       2.10     13047.0  United Kingdom
11     2010-12-01 08:34:00       2.10     13047.0  United Kingdom
12     2010-12-01 08:34:00       3.75     13047.0  United Kingdom
13     2010-12-01 08:34:00       1.65     13047.0  United Kingdom
14     2010-12-01 08:34:00       4.25     13047.0  United Kingdom
15     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
16     2010-12-01 08:34:00       9.95     13047.0  United Kingdom
17     2010-12-01 08:34:00       5.95     13047.0  United Kingdom
18     2010-12-01 08:34:00       5.95     13047.0  United Kingdom
19     2010-12-01 08:34:00       7.95     13047.0  United Kingdom
20     2010-12-01 08:34:00       7.95     13047.0  United Kingdom
21     2010-12-01 08:34:00       4.25     13047.0  United Kingdom
22     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
23     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
24     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
25     2010-12-01 08:35:00       5.95     13047.0  United Kingdom
26     2010-12-01 08:45:00       3.75     12583.0          France
27     2010-12-01 08:45:00       3.75     12583.0          France
28     2010-12-01 08:45:00       3.75     12583.0          France
29     2010-12-01 08:45:00       0.85     12583.0          France
...                    ...        ...         ...             ...
541879 2011-12-09 12:31:00       3.75     15804.0  United Kingdom
541880 2011-12-09 12:31:00       3.75     15804.0  United Kingdom
541881 2011-12-09 12:31:00       0.85     15804.0  United Kingdom
541882 2011-12-09 12:31:00       0.42     15804.0  United Kingdom
541883 2011-12-09 12:31:00       0.42     15804.0  United Kingdom
541884 2011-12-09 12:31:00       1.25     15804.0  United Kingdom
541885 2011-12-09 12:31:00       0.85     15804.0  United Kingdom
541886 2011-12-09 12:31:00       0.39     15804.0  United Kingdom
541887 2011-12-09 12:31:00       3.75     15804.0  United Kingdom
541888 2011-12-09 12:31:00       0.95     15804.0  United Kingdom
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom
541894 2011-12-09 12:50:00       1.95     12680.0          France
541895 2011-12-09 12:50:00       1.65     12680.0          France
541896 2011-12-09 12:50:00       1.65     12680.0          France
541897 2011-12-09 12:50:00       3.75     12680.0          France
541898 2011-12-09 12:50:00       3.75     12680.0          France
541899 2011-12-09 12:50:00       3.75     12680.0          France
541900 2011-12-09 12:50:00       3.75     12680.0          France
541901 2011-12-09 12:50:00       1.95     12680.0          France
541902 2011-12-09 12:50:00       1.95     12680.0          France
541903 2011-12-09 12:50:00       4.15     12680.0          France
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

In [9]:
df['CustomerID'] = df['CustomerID'].astype('category')

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null category
Country        541909 non-null object
dtypes: category(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 30.2+ MB
None

In [11]:
CustomerID = df["CustomerID"]
print("number of Customers: ",len(CustomerID.unique()))

number of Customers:  4373

In [12]:
InvoiceNo = df["InvoiceNo"]
print("number of Invoice: ",len(InvoiceNo.unique()))

number of Invoice:  25900

In [13]:
Country = df["Country"]
print(set(Country))
print("\n number of Country: ",len(Country.unique()))

{'Canada', 'Poland', 'Germany', 'Belgium', 'Japan', 'Saudi Arabia', 'Iceland', 'RSA', 'Israel', 'Singapore', 'Austria', 'Switzerland', 'Sweden', 'Netherlands', 'Italy', 'Finland', 'Spain', 'Bahrain', 'Australia', 'Greece', 'United Arab Emirates', 'Cyprus', 'Malta', 'Czech Republic', 'Denmark', 'Portugal', 'Hong Kong', 'Brazil', 'France', 'Norway', 'Unspecified', 'EIRE', 'Lithuania', 'United Kingdom', 'Channel Islands', 'Lebanon', 'USA', 'European Community'}

 number of Country:  38

In [14]:
df["Amount"] = df["UnitPrice"] * df["Quantity"]
print(df["Amount"])

0          15.30
1          20.34
2          22.00
3          20.34
4          20.34
5          15.30
6          25.50
7          11.10
8          11.10
9          54.08
10         12.60
11         12.60
12         30.00
13          9.90
14         25.50
15         14.85
16         19.90
17         17.85
18         17.85
19         31.80
20         31.80
21         25.50
22         14.85
23         14.85
24         14.85
25         17.85
26         90.00
27         90.00
28         45.00
29         10.20
           ...
541879     30.00
541880     15.00
541881      8.50
541882     10.08
541883     10.50
541884     15.00
541885     10.20
541886      4.68
541887     15.00
541888     11.40
541889     23.40
541890     23.60
541891     30.00
541892    214.80
541893     70.80
541894     23.40
541895     19.80
541896     19.80
541897     15.00
541898     15.00
541899     15.00
541900     15.00
541901     15.60
541902     23.40
541903     16.60
541904     10.20
541905     12.60
541906     16.60
541907     16.60
541908     14.85
Name: Amount, Length: 541909, dtype: float64

In [31]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.50
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,12.60
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,12.60
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,30.00
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,9.90
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,19.90
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom,17.85
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,45.00
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France,10.20
...,...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,30.00
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,15.00
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,8.50
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.08
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.50
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,15.00
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,10.20
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom,4.68
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,15.00
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom,11.40
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France,15.60
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null category
Country        541909 non-null object
Amount         541909 non-null float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 34.3+ MB

In [16]:
groupof1 = df.groupby(['InvoiceNo','InvoiceDate']).agg({'StockCode':'count','Amount':'sum'})
groupof1.columns =["Units","Amount"]
print(groupof1)

                               Units     Amount
InvoiceNo InvoiceDate
536365    2010-12-01 08:26:00      7     139.12
536366    2010-12-01 08:28:00      2      22.20
536367    2010-12-01 08:34:00     12     278.73
536368    2010-12-01 08:34:00      4      70.05
536369    2010-12-01 08:35:00      1      17.85
536370    2010-12-01 08:45:00     20     855.86
536371    2010-12-01 09:00:00      1     204.00
536372    2010-12-01 09:01:00      2      22.20
536373    2010-12-01 09:02:00     16     259.86
536374    2010-12-01 09:09:00      1     350.40
536375    2010-12-01 09:32:00     16     259.86
536376    2010-12-01 09:32:00      2     328.80
536377    2010-12-01 09:34:00      2      22.20
536378    2010-12-01 09:37:00     19     444.98
536380    2010-12-01 09:41:00      1      34.80
536381    2010-12-01 09:41:00     35     449.98
536382    2010-12-01 09:45:00     12     430.60
536384    2010-12-01 09:53:00     13     489.60
536385    2010-12-01 09:56:00      7     130.85
536386    2010-12-01 09:57:00      3     508.20
536387    2010-12-01 09:58:00      5    3193.92
536388    2010-12-01 09:59:00     14     226.14
536389    2010-12-01 10:03:00     14     358.25
536390    2010-12-01 10:19:00     24    1825.74
536392    2010-12-01 10:29:00     10     318.14
536393    2010-12-01 10:37:00      1      79.60
536394    2010-12-01 10:39:00     11    1024.68
536395    2010-12-01 10:47:00     14     507.88
536396    2010-12-01 10:51:00     18     376.36
536397    2010-12-01 10:51:00      2     279.00
...                              ...        ...
C581128   2011-12-07 12:46:00      1      -6.24
C581145   2011-12-07 13:48:00      4     -83.16
C581148   2011-12-07 14:02:00      6     -44.78
C581162   2011-12-07 14:32:00      1      -3.18
C581178   2011-12-07 15:39:00      2     -14.90
C581228   2011-12-08 10:06:00      5    -336.00
C581229   2011-12-08 10:14:00     11    -269.96
C581235   2011-12-08 10:34:00      5     -60.25
C581305   2011-12-08 11:42:00      2     -16.45
C581316   2011-12-08 11:46:00      3     -19.20
C581322   2011-12-08 11:51:00      2      -3.80
C581323   2011-12-08 11:53:00      1      -4.25
C581330   2011-12-08 11:57:00      2     -52.50
C581384   2011-12-08 13:06:00      1      -6.90
C581390   2011-12-08 13:13:00      2     -15.85
C581393   2011-12-08 13:14:00      1     -12.75
C581409   2011-12-08 14:08:00     13     -98.75
C581460   2011-12-08 18:48:00      2      -4.85
C581462   2011-12-08 18:51:00      2     -23.76
C581463   2011-12-08 18:56:00      1     -15.90
C581464   2011-12-08 18:57:00      2     -38.65
C581465   2011-12-08 18:59:00      4     -27.25
C581466   2011-12-08 19:20:00      5     -36.15
C581468   2011-12-08 19:26:00      2     -25.68
C581470   2011-12-08 19:28:00      1      -8.32
C581484   2011-12-09 09:27:00      1 -168469.60
C581490   2011-12-09 09:57:00      2     -32.53
C581499   2011-12-09 10:28:00      1    -224.69
C581568   2011-12-09 11:57:00      1     -54.75
C581569   2011-12-09 11:58:00      2      -7.50

[25943 rows x 2 columns]

In [17]:
data = df[['InvoiceDate','InvoiceNo','StockCode','UnitPrice','Quantity','Amount','CustomerID']]

In [18]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 7 columns):
InvoiceDate    541909 non-null datetime64[ns]
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
UnitPrice      541909 non-null float64
Quantity       541909 non-null int64
Amount         541909 non-null float64
CustomerID     406829 non-null category
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 26.0+ MB
None

# Invoice wise count of products, Number of Units Sold and Total Amount

In [19]:
result1 = data.groupby(['InvoiceDate','CustomerID','InvoiceNo']).agg({
    'StockCode': 'count',
    'Quantity' : 'sum',
    'Amount'   : 'sum'})
result1.columns=['Products','Units','Total Amount']
print(result1)

                                          Products  Units  Total Amount
InvoiceDate         CustomerID InvoiceNo
2010-12-01 08:26:00 17850.0    536365            7     40        139.12
2010-12-01 08:28:00 17850.0    536366            2     12         22.20
2010-12-01 08:34:00 13047.0    536367           12     83        278.73
                               536368            4     15         70.05
2010-12-01 08:35:00 13047.0    536369            1      3         17.85
2010-12-01 08:45:00 12583.0    536370           20    449        855.86
2010-12-01 09:00:00 13748.0    536371            1     80        204.00
2010-12-01 09:01:00 17850.0    536372            2     12         22.20
2010-12-01 09:02:00 17850.0    536373           16     88        259.86
2010-12-01 09:09:00 15100.0    536374            1     32        350.40
2010-12-01 09:32:00 15291.0    536376            2    112        328.80
                    17850.0    536375           16     88        259.86
2010-12-01 09:34:00 17850.0    536377            2     12         22.20
2010-12-01 09:37:00 14688.0    536378           19    454        444.98
2010-12-01 09:41:00 14527.0    C536379           1     -1        -27.50
                    15311.0    536381           35    198        449.98
                    17809.0    536380            1     24         34.80
2010-12-01 09:45:00 16098.0    536382           12    134        430.60
2010-12-01 09:49:00 15311.0    C536383           1     -1         -4.65
2010-12-01 09:53:00 18074.0    536384           13    190        489.60
2010-12-01 09:56:00 17420.0    536385            7     53        130.85
2010-12-01 09:57:00 16029.0    536386            3    236        508.20
2010-12-01 09:58:00 16029.0    536387            5   1440       3193.92
2010-12-01 09:59:00 16250.0    536388           14    108        226.14
2010-12-01 10:03:00 12431.0    536389           14    107        358.25
2010-12-01 10:19:00 17511.0    536390           24   1568       1825.74
2010-12-01 10:24:00 17548.0    C536391           7   -132       -141.48
2010-12-01 10:29:00 13705.0    536392           10    103        318.14
2010-12-01 10:37:00 13747.0    536393            1      8         79.60
2010-12-01 10:39:00 13408.0    536394           11    544       1024.68
...                                            ...    ...           ...
2011-12-09 10:02:00 12433.0    581491            1     12         19.80
2011-12-09 10:10:00 12423.0    581493           17    203        208.64
2011-12-09 10:13:00 12518.0    581494           18    188        339.14
2011-12-09 10:20:00 14051.0    581495           15    276       1203.90
                    16558.0    581496           32    496        598.97
2011-12-09 10:28:00 15498.0    C581499           1     -1       -224.69
2011-12-09 10:45:00 15344.0    581500            3     10        103.30
2011-12-09 10:46:00 12985.0    581501           24    692        485.00
2011-12-09 10:51:00 15910.0    581502           20    158        133.35
2011-12-09 11:20:00 17754.0    581514           24    405        200.99
2011-12-09 11:26:00 14422.0    581516           15    179        382.01
2011-12-09 11:34:00 14446.0    581538           74    121        197.09
2011-12-09 11:50:00 18102.0    581566            1    144        469.44
2011-12-09 11:56:00 16626.0    581567           12    365        389.21
2011-12-09 11:57:00 15311.0    C581568           1     -5        -54.75
2011-12-09 11:58:00 17315.0    C581569           2     -6         -7.50
2011-12-09 11:59:00 12662.0    581570           13     96        224.95
2011-12-09 12:00:00 15311.0    581571           20    270        494.60
2011-12-09 12:08:00 16705.0    581572            4     60        250.52
2011-12-09 12:09:00 12526.0    581574           13     88        277.08
2011-12-09 12:16:00 12713.0    581578           38    508        848.55
2011-12-09 12:19:00 17581.0    581579           30    476        903.62
2011-12-09 12:20:00 12748.0    581580           24     82         94.11
                    17581.0    581581            3     22         51.18
2011-12-09 12:21:00 17581.0    581582            2     18         29.88
2011-12-09 12:23:00 13777.0    581583            2     76        124.60
2011-12-09 12:25:00 13777.0    581584            2    120        140.64
2011-12-09 12:31:00 15804.0    581585           21    278        329.05
2011-12-09 12:49:00 13113.0    581586            4     66        339.20
2011-12-09 12:50:00 12680.0    581587           15    105        249.45

[22221 rows x 3 columns]

## Date Wise Number of Invoice, Number of Units Sold, Total Amount

In [20]:
result2 = data.groupby(['InvoiceDate','InvoiceNo']).agg({
    'Quantity' : 'sum',
    'Amount'   : 'sum' })
print(result2)

                               Quantity   Amount
InvoiceDate         InvoiceNo
2010-12-01 08:26:00 536365           40   139.12
2010-12-01 08:28:00 536366           12    22.20
2010-12-01 08:34:00 536367           83   278.73
                    536368           15    70.05
2010-12-01 08:35:00 536369            3    17.85
2010-12-01 08:45:00 536370          449   855.86
2010-12-01 09:00:00 536371           80   204.00
2010-12-01 09:01:00 536372           12    22.20
2010-12-01 09:02:00 536373           88   259.86
2010-12-01 09:09:00 536374           32   350.40
2010-12-01 09:32:00 536375           88   259.86
                    536376          112   328.80
2010-12-01 09:34:00 536377           12    22.20
2010-12-01 09:37:00 536378          454   444.98
2010-12-01 09:41:00 536380           24    34.80
                    536381          198   449.98
                    C536379          -1   -27.50
2010-12-01 09:45:00 536382          134   430.60
2010-12-01 09:49:00 C536383          -1    -4.65
2010-12-01 09:53:00 536384          190   489.60
2010-12-01 09:56:00 536385           53   130.85
2010-12-01 09:57:00 536386          236   508.20
2010-12-01 09:58:00 536387         1440  3193.92
2010-12-01 09:59:00 536388          108   226.14
2010-12-01 10:03:00 536389          107   358.25
2010-12-01 10:19:00 536390         1568  1825.74
2010-12-01 10:24:00 C536391        -132  -141.48
2010-12-01 10:29:00 536392          103   318.14
2010-12-01 10:37:00 536393            8    79.60
2010-12-01 10:39:00 536394          544  1024.68
...                                 ...      ...
2011-12-09 10:13:00 581494          188   339.14
2011-12-09 10:20:00 581495          276  1203.90
                    581496          496   598.97
2011-12-09 10:23:00 581497          654  3217.20
2011-12-09 10:26:00 581498          732  5664.89
2011-12-09 10:28:00 C581499          -1  -224.69
2011-12-09 10:45:00 581500           10   103.30
2011-12-09 10:46:00 581501          692   485.00
2011-12-09 10:51:00 581502          158   133.35
2011-12-09 11:20:00 581514          405   200.99
2011-12-09 11:26:00 581516          179   382.01
2011-12-09 11:34:00 581538          121   197.09
2011-12-09 11:50:00 581566          144   469.44
2011-12-09 11:56:00 581567          365   389.21
2011-12-09 11:57:00 C581568          -5   -54.75
2011-12-09 11:58:00 C581569          -6    -7.50
2011-12-09 11:59:00 581570           96   224.95
2011-12-09 12:00:00 581571          270   494.60
2011-12-09 12:08:00 581572           60   250.52
2011-12-09 12:09:00 581574           88   277.08
2011-12-09 12:16:00 581578          508   848.55
2011-12-09 12:19:00 581579          476   903.62
2011-12-09 12:20:00 581580           82    94.11
                    581581           22    51.18
2011-12-09 12:21:00 581582           18    29.88
2011-12-09 12:23:00 581583           76   124.60
2011-12-09 12:25:00 581584          120   140.64
2011-12-09 12:31:00 581585          278   329.05
2011-12-09 12:49:00 581586           66   339.20
2011-12-09 12:50:00 581587          105   249.45

[25943 rows x 2 columns]

In [21]:
result2.reset_index(inplace = True)
print(result2)

              InvoiceDate InvoiceNo  Quantity   Amount
0     2010-12-01 08:26:00    536365        40   139.12
1     2010-12-01 08:28:00    536366        12    22.20
2     2010-12-01 08:34:00    536367        83   278.73
3     2010-12-01 08:34:00    536368        15    70.05
4     2010-12-01 08:35:00    536369         3    17.85
5     2010-12-01 08:45:00    536370       449   855.86
6     2010-12-01 09:00:00    536371        80   204.00
7     2010-12-01 09:01:00    536372        12    22.20
8     2010-12-01 09:02:00    536373        88   259.86
9     2010-12-01 09:09:00    536374        32   350.40
10    2010-12-01 09:32:00    536375        88   259.86
11    2010-12-01 09:32:00    536376       112   328.80
12    2010-12-01 09:34:00    536377        12    22.20
13    2010-12-01 09:37:00    536378       454   444.98
14    2010-12-01 09:41:00    536380        24    34.80
15    2010-12-01 09:41:00    536381       198   449.98
16    2010-12-01 09:41:00   C536379        -1   -27.50
17    2010-12-01 09:45:00    536382       134   430.60
18    2010-12-01 09:49:00   C536383        -1    -4.65
19    2010-12-01 09:53:00    536384       190   489.60
20    2010-12-01 09:56:00    536385        53   130.85
21    2010-12-01 09:57:00    536386       236   508.20
22    2010-12-01 09:58:00    536387      1440  3193.92
23    2010-12-01 09:59:00    536388       108   226.14
24    2010-12-01 10:03:00    536389       107   358.25
25    2010-12-01 10:19:00    536390      1568  1825.74
26    2010-12-01 10:24:00   C536391      -132  -141.48
27    2010-12-01 10:29:00    536392       103   318.14
28    2010-12-01 10:37:00    536393         8    79.60
29    2010-12-01 10:39:00    536394       544  1024.68
...                   ...       ...       ...      ...
25913 2011-12-09 10:13:00    581494       188   339.14
25914 2011-12-09 10:20:00    581495       276  1203.90
25915 2011-12-09 10:20:00    581496       496   598.97
25916 2011-12-09 10:23:00    581497       654  3217.20
25917 2011-12-09 10:26:00    581498       732  5664.89
25918 2011-12-09 10:28:00   C581499        -1  -224.69
25919 2011-12-09 10:45:00    581500        10   103.30
25920 2011-12-09 10:46:00    581501       692   485.00
25921 2011-12-09 10:51:00    581502       158   133.35
25922 2011-12-09 11:20:00    581514       405   200.99
25923 2011-12-09 11:26:00    581516       179   382.01
25924 2011-12-09 11:34:00    581538       121   197.09
25925 2011-12-09 11:50:00    581566       144   469.44
25926 2011-12-09 11:56:00    581567       365   389.21
25927 2011-12-09 11:57:00   C581568        -5   -54.75
25928 2011-12-09 11:58:00   C581569        -6    -7.50
25929 2011-12-09 11:59:00    581570        96   224.95
25930 2011-12-09 12:00:00    581571       270   494.60
25931 2011-12-09 12:08:00    581572        60   250.52
25932 2011-12-09 12:09:00    581574        88   277.08
25933 2011-12-09 12:16:00    581578       508   848.55
25934 2011-12-09 12:19:00    581579       476   903.62
25935 2011-12-09 12:20:00    581580        82    94.11
25936 2011-12-09 12:20:00    581581        22    51.18
25937 2011-12-09 12:21:00    581582        18    29.88
25938 2011-12-09 12:23:00    581583        76   124.60
25939 2011-12-09 12:25:00    581584       120   140.64
25940 2011-12-09 12:31:00    581585       278   329.05
25941 2011-12-09 12:49:00    581586        66   339.20
25942 2011-12-09 12:50:00    581587       105   249.45

[25943 rows x 4 columns]

## InvoiceDate wise Invoices, Units, Total Amount

In [22]:
result3 = data.groupby(['InvoiceDate']).agg({
    'InvoiceNo' : 'count',
    'Quantity'      : 'sum',
    'Amount'        : 'sum' })

result3.columns = ['Invoices','Units','Total Amount']
print(result3)

                     Invoices  Units  Total Amount
InvoiceDate
2010-12-01 08:26:00         7     40        139.12
2010-12-01 08:28:00         2     12         22.20
2010-12-01 08:34:00        16     98        348.78
2010-12-01 08:35:00         1      3         17.85
2010-12-01 08:45:00        20    449        855.86
2010-12-01 09:00:00         1     80        204.00
2010-12-01 09:01:00         2     12         22.20
2010-12-01 09:02:00        16     88        259.86
2010-12-01 09:09:00         1     32        350.40
2010-12-01 09:32:00        18    200        588.66
2010-12-01 09:34:00         2     12         22.20
2010-12-01 09:37:00        19    454        444.98
2010-12-01 09:41:00        37    221        457.28
2010-12-01 09:45:00        12    134        430.60
2010-12-01 09:49:00         1     -1         -4.65
2010-12-01 09:53:00        13    190        489.60
2010-12-01 09:56:00         7     53        130.85
2010-12-01 09:57:00         3    236        508.20
2010-12-01 09:58:00         5   1440       3193.92
2010-12-01 09:59:00        14    108        226.14
2010-12-01 10:03:00        14    107        358.25
2010-12-01 10:19:00        24   1568       1825.74
2010-12-01 10:24:00         7   -132       -141.48
2010-12-01 10:29:00        10    103        318.14
2010-12-01 10:37:00         1      8         79.60
2010-12-01 10:39:00        11    544       1024.68
2010-12-01 10:47:00        14    260        507.88
2010-12-01 10:51:00        20    162        655.36
2010-12-01 10:52:00        19    162        448.76
2010-12-01 10:53:00         1     12         17.40
...                       ...    ...           ...
2011-12-09 10:03:00       731   2011       7689.23
2011-12-09 10:10:00        17    203        208.64
2011-12-09 10:13:00        18    188        339.14
2011-12-09 10:20:00        47    772       1802.87
2011-12-09 10:23:00        59    654       3217.20
2011-12-09 10:26:00       218    732       5664.89
2011-12-09 10:28:00         1     -1       -224.69
2011-12-09 10:45:00         3     10        103.30
2011-12-09 10:46:00        24    692        485.00
2011-12-09 10:51:00        20    158        133.35
2011-12-09 11:20:00        24    405        200.99
2011-12-09 11:26:00        15    179        382.01
2011-12-09 11:34:00        74    121        197.09
2011-12-09 11:50:00         1    144        469.44
2011-12-09 11:56:00        12    365        389.21
2011-12-09 11:57:00         1     -5        -54.75
2011-12-09 11:58:00         2     -6         -7.50
2011-12-09 11:59:00        13     96        224.95
2011-12-09 12:00:00        20    270        494.60
2011-12-09 12:08:00         4     60        250.52
2011-12-09 12:09:00        13     88        277.08
2011-12-09 12:16:00        38    508        848.55
2011-12-09 12:19:00        30    476        903.62
2011-12-09 12:20:00        27    104        145.29
2011-12-09 12:21:00         2     18         29.88
2011-12-09 12:23:00         2     76        124.60
2011-12-09 12:25:00         2    120        140.64
2011-12-09 12:31:00        21    278        329.05
2011-12-09 12:49:00         4     66        339.20
2011-12-09 12:50:00        15    105        249.45

[23260 rows x 3 columns]

## Date wise Invoices, Units, Total Amount

In [23]:
result4 = result3.groupby(pd.Grouper(freq = 'D')).sum()
result4.reset_index(inplace = True)
print(result4)

    InvoiceDate  Invoices  Units  Total Amount
0    2010-12-01      3108  26814      58635.56
1    2010-12-02      2109  21023      46207.28
2    2010-12-03      2202  14830      45620.46
3    2010-12-04         0      0          0.00
4    2010-12-05      2725  16395      31383.95
5    2010-12-06      3878  21419      53860.18
6    2010-12-07      2963  24995      45059.05
7    2010-12-08      2647  22741      44189.84
8    2010-12-09      2891  18431      52532.13
9    2010-12-10      2758  20297      57404.91
10   2010-12-11         0      0          0.00
11   2010-12-12      1451  10565      17240.92
12   2010-12-13      2283  17623      35379.34
13   2010-12-14      2087  20098      42843.29
14   2010-12-15      1349  18229      29443.69
15   2010-12-16      1790  29632      48334.35
16   2010-12-17      3115  16069      43534.19
17   2010-12-18         0      0          0.00
18   2010-12-19       522   3795       7517.31
19   2010-12-20      1763  14965      24741.75
20   2010-12-21      1586  15467      47097.94
21   2010-12-22       291   3192       6134.57
22   2010-12-23       963   5648      11796.31
23   2010-12-24         0      0          0.00
24   2010-12-25         0      0          0.00
25   2010-12-26         0      0          0.00
26   2010-12-27         0      0          0.00
27   2010-12-28         0      0          0.00
28   2010-12-29         0      0          0.00
29   2010-12-30         0      0          0.00
..          ...       ...    ...           ...
344  2011-11-10      3275  38077      68956.24
345  2011-11-11      4089  28513      54835.51
346  2011-11-12         0      0          0.00
347  2011-11-13      3018  20356      33520.22
348  2011-11-14      3597  45959     112141.11
349  2011-11-15      3445  30221      60594.23
350  2011-11-16      4195  29353      64408.70
351  2011-11-17      3621  30779      60329.72
352  2011-11-18      2920  23535      48031.80
353  2011-11-19         0      0          0.00
354  2011-11-20      3334  19369      34902.01
355  2011-11-21      2930  24004      48302.50
356  2011-11-22      3967  35284      62307.32
357  2011-11-23      3619  37350      78480.70
358  2011-11-24      3766  23743      48080.28
359  2011-11-25      3125  31026      50442.72
360  2011-11-26         0      0          0.00
361  2011-11-27      2543  11161      20571.50
362  2011-11-28      3330  28647      55442.02
363  2011-11-29      4313  30511      72219.20
364  2011-11-30      3454  26482      59150.98
365  2011-12-01      2901  26819      51410.95
366  2011-12-02      2880  26952      57086.06
367  2011-12-03         0      0          0.00
368  2011-12-04      2038  12396      24565.78
369  2011-12-05      5331  44119      57751.32
370  2011-12-06      3365  29026      54228.37
371  2011-12-07      2438  39612      75076.22
372  2011-12-08      4940  34460      81417.78
373  2011-12-09      1632  12949      32131.53

[374 rows x 4 columns]

## Month wise Invoices, Units, Total Amount

In [24]:
result5 = result3.groupby(pd.Grouper(freq = 'M')).sum()
result5.reset_index(inplace = True)
print(result5)

   InvoiceDate  Invoices   Units  Total Amount
0   2010-12-31     42481  342228    748957.020
1   2011-01-31     35147  308966    560000.260
2   2011-02-28     27707  277989    498062.650
3   2011-03-31     36748  351872    683267.080
4   2011-04-30     29916  289098    493207.121
5   2011-05-31     37030  380391    723333.510
6   2011-06-30     36874  341623    691123.120
7   2011-07-31     39518  391116    681300.111
8   2011-08-31     35284  406199    682680.510
9   2011-09-30     50226  549817   1019687.622
10  2011-10-31     60742  570532   1070704.670
11  2011-11-30     84711  740286   1461756.250
12  2011-12-31     25525  226333    433668.010

## Year wise Invoices, Units, Total Amount

In [25]:
result6 = result3.groupby(pd.Grouper(freq = 'Y')).sum()
result6.reset_index(inplace = True)
print(result6)

  InvoiceDate  Invoices    Units  Total Amount
0  2010-12-31     42481   342228    748957.020
1  2011-12-31    499428  4834222   8998790.914

## StockCode wise Amount

In [26]:
result7 = data.groupby(['StockCode']).agg({'Amount':'sum'})
print(result7)

                  Amount
StockCode
10002            759.890
10080            119.090
10120             40.530
10125            994.840
10133           1540.020
10134              0.000
10135           2206.140
11001           2152.390
15030             41.470
15034            731.730
15036          18064.160
15039           1957.390
16008            360.710
16010              3.600
16011            372.330
16012            261.240
16014           4335.760
16015            289.980
16016           1053.450
16033            100.800
16043             11.760
16045            380.000
16046             57.800
16048            205.420
16049             82.080
16052            115.300
16053              0.000
16054            127.560
16216            234.000
16218            283.310
...                  ...
C2              6986.000
CRUK           -7933.430
D              -5696.220
DCGS0003           9.940
DCGS0004          16.630
DCGS0055           0.000
DCGS0057           0.000
DCGS0066P          0.000
DCGS0067           0.000
DCGS0068           0.000
DCGS0069          15.790
DCGS0070          12.720
DCGS0071           0.000
DCGS0072           0.000
DCGS0073           0.000
DCGS0074           0.000
DCGS0076          48.390
DCGSSBOY         150.550
DCGSSGIRL        144.430
DOT           206245.480
M             -68674.190
PADS               0.003
POST           66230.640
S              -3049.390
gift_0001_10      74.970
gift_0001_20     167.050
gift_0001_30     175.530
gift_0001_40     100.700
gift_0001_50     167.560
m                  2.550

[4070 rows x 1 columns]

## CustomerID wise Invoices, Units, Total Amount

In [27]:
result8 = data.groupby(['CustomerID']).agg({
    'InvoiceNo' : 'count',
    'Quantity'      : 'sum',
    'Amount'        : 'sum' })

result8.columns = ['Invoices','Units','Total Amount']
result8 = result8.reset_index()
print(result8)

     CustomerID  Invoices  Units  Total Amount
0       12346.0         2      0  0.000000e+00
1       12347.0       182   2458  4.310000e+03
2       12348.0        31   2341  1.797240e+03
3       12349.0        73    631  1.757550e+03
4       12350.0        17    197  3.344000e+02
5       12352.0        95    470  1.545410e+03
6       12353.0         4     20  8.900000e+01
7       12354.0        58    530  1.079400e+03
8       12355.0        13    240  4.594000e+02
9       12356.0        59   1591  2.811430e+03
10      12357.0       131   2708  6.207670e+03
11      12358.0        19    248  1.168060e+03
12      12359.0       254   1612  6.245530e+03
13      12360.0       129   1165  2.662060e+03
14      12361.0        10     91  1.899000e+02
15      12362.0       274   2212  5.154580e+03
16      12363.0        23    408  5.520000e+02
17      12364.0        85   1506  1.313100e+03
18      12365.0        23    173  3.206900e+02
19      12367.0        11    173  1.689000e+02
20      12370.0       167   2353  3.545690e+03
21      12371.0        63    591  1.887960e+03
22      12372.0        52    794  1.298040e+03
23      12373.0        14    197  3.646000e+02
24      12374.0        33    342  7.429300e+02
25      12375.0        18    177  4.554200e+02
26      12377.0        77    944  1.628120e+03
27      12378.0       219   2529  4.008620e+03
28      12379.0        41    406  8.502900e+02
29      12380.0       105   1126  2.720560e+03
...         ...       ...    ...           ...
4342    18245.0       177   1781  2.507560e+03
4343    18246.0         4    166  5.961000e+02
4344    18248.0        49    501  7.830200e+02
4345    18249.0         8    128  9.534000e+01
4346    18250.0        22    198  3.429200e+02
4347    18251.0        16   7824  4.314720e+03
4348    18252.0        98    239  5.266700e+02
4349    18255.0         6     74  1.033000e+02
4350    18256.0         4    -70 -5.010000e+01
4351    18257.0       123   1010  2.265380e+03
4352    18259.0        42    714  2.338600e+03
4353    18260.0       140   1469  2.595000e+03
4354    18261.0        21    146  3.242400e+02
4355    18262.0        13    182  1.494800e+02
4356    18263.0        62   1467  1.211080e+03
4357    18265.0        46    311  8.015100e+02
4358    18268.0         2      0  0.000000e+00
4359    18269.0         8     70  1.389000e+02
4360    18270.0        13     97  2.389500e+02
4361    18272.0       170   2044  3.064780e+03
4362    18273.0         3     80  2.040000e+02
4363    18274.0        22      0  1.243450e-14
4364    18276.0        16    184  3.233600e+02
4365    18277.0         9     67  9.763000e+01
4366    18278.0         9     66  1.739000e+02
4367    18280.0        10     45  1.806000e+02
4368    18281.0         7     54  8.082000e+01
4369    18282.0        13     98  1.766000e+02
4370    18283.0       756   1397  2.094880e+03
4371    18287.0        70   1586  1.837280e+03

[4372 rows x 4 columns]

## CustomerID wise Total Amount

In [28]:
result9 = result8[['CustomerID','Total Amount']].sort_values('Total Amount',ascending = False).head(10)
print(result9)

     CustomerID  Total Amount
1703    14646.0     279489.02
4233    18102.0     256438.49
3758    17450.0     187482.17
1895    14911.0     132572.62
55      12415.0     123725.45
1345    14156.0     113384.14
3801    17511.0      88125.38
3202    16684.0      65892.08
1005    13694.0      62653.10
2192    15311.0      59419.34

## CustomerID wise Units

In [29]:
result10 = result8[['CustomerID','Units']].sort_values('Units',ascending = False).head(10)
print(result10)

     CustomerID   Units
1703    14646.0  196719
55      12415.0   77242
1895    14911.0   77180
3758    17450.0   69029
4233    18102.0   64122
3801    17511.0   63012
1005    13694.0   61803
1447    14298.0   58021
1345    14156.0   57025
3202    16684.0   49390

## CustomerID wise Invoices

In [30]:
result11 = result8[['CustomerID','Invoices']].sort_values('Invoices',ascending = False).head(10)
print(result11)

     CustomerID  Invoices
4042    17841.0      7983
1895    14911.0      5903
1300    14096.0      5128
330     12748.0      4642
1674    14606.0      2782
2192    15311.0      2491
1703    14646.0      2085
568     13089.0      1857
698     13263.0      1677
1447    14298.0      1640