In [2]:
import pandas as pd

In [8]:
df = pd.read_excel("E:\\ML Testing\\retail_store\\Online_Retail.xlsx")
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5         536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6         536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7         536366     22633               HAND WARMER UNION JACK         6
8         536366     22632            HAND WARMER RED POLKA DOT         6
9         536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32
10        536367     22745           POPPY'S PLAYHOUSE BEDROOM          6
11        536367     22748            POPPY'S PLAYHOUSE KITCHEN         6
12        536367     22749    FELTCRAFT PRINCESS CHARLOTTE DOLL         8
13        536367     22310              IVORY KNITTED MUG COSY          6
14        536367     84969   BOX OF 6 ASSORTED COLOUR TEASPOONS         6
15        536367     22623        BOX OF VINTAGE JIGSAW BLOCKS          3
16        536367     22622       BOX OF VINTAGE ALPHABET BLOCKS         2
17        536367     21754             HOME BUILDING BLOCK WORD         3
18        536367     21755             LOVE BUILDING BLOCK WORD         3
19        536367     21777          RECIPE BOX WITH METAL HEART         4
20        536367     48187                  DOORMAT NEW ENGLAND         4
21        536368     22960             JAM MAKING SET WITH JARS         6
22        536368     22913          RED COAT RACK PARIS FASHION         3
23        536368     22912       YELLOW COAT RACK PARIS FASHION         3
24        536368     22914         BLUE COAT RACK PARIS FASHION         3
25        536369     21756             BATH BUILDING BLOCK WORD         3
26        536370     22728            ALARM CLOCK BAKELIKE PINK        24
27        536370     22727            ALARM CLOCK BAKELIKE RED         24
28        536370     22726           ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724      PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                                  ...       ...
541879    581585     22726           ALARM CLOCK BAKELIKE GREEN         8
541880    581585     22727            ALARM CLOCK BAKELIKE RED          4
541881    581585     16016          LARGE CHINESE STYLE SCISSOR        10
541882    581585     21916      SET 12 RETRO WHITE CHALK STICKS        24
541883    581585     84692          BOX OF 24 COCKTAIL PARASOLS        25
541884    581585     84946         ANTIQUE SILVER T-LIGHT GLASS        12
541885    581585     21684     SMALL MEDINA STAMPED METAL BOWL         12
541886    581585     22398           MAGNETS PACK OF 4 SWALLOWS        12
541887    581585     23328   SET 6 SCHOOL MILK BOTTLES IN CRATE         4
541888    581585     23145       ZINC T-LIGHT HOLDER STAR LARGE        12
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10
541894    581587     22631             CIRCUS PARADE LUNCH BOX         12
541895    581587     22556       PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555            PLASTERS IN TIN STRONGMAN        12
541897    581587     22728            ALARM CLOCK BAKELIKE PINK         4
541898    581587     22727            ALARM CLOCK BAKELIKE RED          4
541899    581587     22726           ALARM CLOCK BAKELIKE GREEN         4
541900    581587     22730           ALARM CLOCK BAKELIKE IVORY         4
541901    581587     22367      CHILDRENS APRON SPACEBOY DESIGN         8
541902    581587     22629                  SPACEBOY LUNCH BOX         12
541903    581587     23256          CHILDRENS CUTLERY SPACEBOY          4
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5      2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6      2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7      2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8      2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9      2010-12-01 08:34:00       1.69     13047.0  United Kingdom
10     2010-12-01 08:34:00       2.10     13047.0  United Kingdom
11     2010-12-01 08:34:00       2.10     13047.0  United Kingdom
12     2010-12-01 08:34:00       3.75     13047.0  United Kingdom
13     2010-12-01 08:34:00       1.65     13047.0  United Kingdom
14     2010-12-01 08:34:00       4.25     13047.0  United Kingdom
15     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
16     2010-12-01 08:34:00       9.95     13047.0  United Kingdom
17     2010-12-01 08:34:00       5.95     13047.0  United Kingdom
18     2010-12-01 08:34:00       5.95     13047.0  United Kingdom
19     2010-12-01 08:34:00       7.95     13047.0  United Kingdom
20     2010-12-01 08:34:00       7.95     13047.0  United Kingdom
21     2010-12-01 08:34:00       4.25     13047.0  United Kingdom
22     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
23     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
24     2010-12-01 08:34:00       4.95     13047.0  United Kingdom
25     2010-12-01 08:35:00       5.95     13047.0  United Kingdom
26     2010-12-01 08:45:00       3.75     12583.0          France
27     2010-12-01 08:45:00       3.75     12583.0          France
28     2010-12-01 08:45:00       3.75     12583.0          France
29     2010-12-01 08:45:00       0.85     12583.0          France
...                    ...        ...         ...             ...
541879 2011-12-09 12:31:00       3.75     15804.0  United Kingdom
541880 2011-12-09 12:31:00       3.75     15804.0  United Kingdom
541881 2011-12-09 12:31:00       0.85     15804.0  United Kingdom
541882 2011-12-09 12:31:00       0.42     15804.0  United Kingdom
541883 2011-12-09 12:31:00       0.42     15804.0  United Kingdom
541884 2011-12-09 12:31:00       1.25     15804.0  United Kingdom
541885 2011-12-09 12:31:00       0.85     15804.0  United Kingdom
541886 2011-12-09 12:31:00       0.39     15804.0  United Kingdom
541887 2011-12-09 12:31:00       3.75     15804.0  United Kingdom
541888 2011-12-09 12:31:00       0.95     15804.0  United Kingdom
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom
541894 2011-12-09 12:50:00       1.95     12680.0          France
541895 2011-12-09 12:50:00       1.65     12680.0          France
541896 2011-12-09 12:50:00       1.65     12680.0          France
541897 2011-12-09 12:50:00       3.75     12680.0          France
541898 2011-12-09 12:50:00       3.75     12680.0          France
541899 2011-12-09 12:50:00       3.75     12680.0          France
541900 2011-12-09 12:50:00       3.75     12680.0          France
541901 2011-12-09 12:50:00       1.95     12680.0          France
541902 2011-12-09 12:50:00       1.95     12680.0          France
541903 2011-12-09 12:50:00       4.15     12680.0          France
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [9]:
df['CustomerID'] = df['CustomerID'].astype('category')

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null category
Country        541909 non-null object
dtypes: category(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 30.2+ MB
None

In [11]:
CustomerID = df["CustomerID"]
print("number of Customers: ",len(CustomerID.unique()))

number of Customers:  4373

In [12]:
InvoiceNo = df["InvoiceNo"]
print("number of Invoice: ",len(InvoiceNo.unique()))

number of Invoice:  25900

In [13]:
Country = df["Country"]
print(set(Country))
print("\n number of Country: ",len(Country.unique()))

{'Poland', 'Australia', 'Portugal', 'Iceland', 'Sweden', 'Singapore', 'United Arab Emirates', 'European Community', 'Channel Islands', 'RSA', 'Saudi Arabia', 'Malta', 'Belgium', 'EIRE', 'Czech Republic', 'Hong Kong', 'Bahrain', 'Canada', 'Switzerland', 'Cyprus', 'Netherlands', 'Lithuania', 'Greece', 'Lebanon', 'Brazil', 'Spain', 'Germany', 'Israel', 'Austria', 'Japan', 'USA', 'Unspecified', 'Finland', 'United Kingdom', 'Italy', 'Denmark', 'Norway', 'France'}

 number of Country:  38

In [17]:
df["Amount"] = df["UnitPrice"] * df["Quantity"]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null category
Country        541909 non-null object
Amount         541909 non-null float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 34.3+ MB

In [ ]:
groupof1 = df.groupby(['InvoiceNo','']).agg({''})
print(list(groupof1))