In [1]:
import sklearn
sklearn.__version__

'0.19.2'

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
# from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import Imputer
import random

In [3]:
df=pd.read_csv("uk-500.csv")
df.head()

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [4]:
df['id'] = [random.randint(0,1000) for x in range(df.shape[0])]

In [5]:
df.head(5)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,787
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,178
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,171
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,66
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,609

# Selecting pandas data using “iloc”

In [6]:
df.iloc[:3]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,787
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,178
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,171

In [7]:
df.iloc[:3 , :2]

  first_name   last_name
0    Aleshia  Tomkiewicz
1       Evan   Zigomalas
2     France     Andrade

In [8]:
df.iloc[[0,3,6,24], [0,5,6]]

   first_name        county    postal
0     Aleshia          Kent   CT2 7PP
3     Ulysses  Lincolnshire  DN36 5RP
6        Marg   Southampton  SO14 3TY
24       Tess   West Sussex  PO19 1RH

In [9]:
df.loc[:2, 'first_name']

0    Aleshia
1       Evan
2     France
Name: first_name, dtype: object

In [10]:
df.loc[:3 , ['first_name' , 'county']]

  first_name           county
0    Aleshia             Kent
1       Evan  Buckinghamshire
2     France      Bournemouth
3    Ulysses     Lincolnshire

In [11]:
df.iloc[:1 , :3]

  first_name   last_name             company_name
0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc

In [12]:
df.iloc[:3, :5]

,first_name,last_name,company_name,address,city
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W

In [13]:
df.head(5)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,787
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,178
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,171
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,66
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,609

In [14]:
df.dropna(axis=0 )

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,787
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,178
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,171
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,66
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,609
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk,605
6,Marg,Grasmick,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk,540
7,Laquita,Hisaw,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk,173
8,Lura,Manzella,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk,472
9,Yuette,Klapec,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk,77
10,Fernanda,Writer,K & R Associates Inc,620 Northampton St,Wilmington,Kent,DA2 7PP,01630-202053,01687-879391,fernanda@writer.co.uk,http://www.krassociatesinc.co.uk,568
11,Charlesetta,Erm,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk,872
12,Corrinne,Jaret,Sound Vision Corp,2150 Morley St,Dee Ward,Dumfries and Galloway,DG8 7DE,01625-932209,01642-322954,corrinne_jaret@gmail.com,http://www.soundvisioncorp.co.uk,481
13,Niesha,Bruch,Rowley/hansell Petetin,24 Bolton St,"Broxburn, Uphall and Winchburg",West Lothian,EH52 5TL,01874-856950,01342-793603,niesha.bruch@yahoo.com,http://www.rowleyhansellpetetin.co.uk,918
14,Rueben,Gastellum,Industrial Engineering Assocs,4 Forrest St,Weston-Super-Mare,North Somerset,BS23 3HG,01976-755279,01956-535511,rueben_gastellum@gastellum.co.uk,http://www.industrialengineeringassocs.co.uk,48
15,Michell,Throssell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk,614
16,Edgar,Kanne,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk,168
17,Dewitt,Julio,Rittenhouse Motor Co,7 Richmond St,Parkham,Devon,EX39 5DJ,01253-528327,01241-964675,dewitt.julio@hotmail.com,http://www.rittenhousemotorco.co.uk,938
18,Charisse,Spinello,Modern Plastics Corp,9165 Primrose St,Darnall Ward,"Yorkshire, South",S4 7WN,01719-831436,01207-428520,charisse_spinello@spinello.co.uk,http://www.modernplasticscorp.co.uk,973
19,Mee,Lapinski,Galloway Electric Co Inc,9 Pengwern St,Marldon,Devon,TQ3 1SA,01578-287816,01939-815208,mee.lapinski@yahoo.com,http://www.gallowayelectriccoinc.co.uk,171
20,Peter,Gutierres,Niagara Custombuilt Mfg Co,4410 Tarlton St,Prestatyn Community,Denbighshire,LL19 9EG,01842-767201,01859-648598,peter_gutierres@yahoo.com,http://www.niagaracustombuiltmfgco.co.uk,834
21,Octavio,Salvadore,Practical Periphrals,6949 Bourne St,Lye and Stourbridge North Ward,West Midlands,DY5 2QP,01552-709248,01743-139456,octavio.salvadore@yahoo.com,http://www.practicalperiphrals.co.uk,864
22,Martha,Teplica,"Curtin, Patricia M Esq",148 Rembrandt St,Warlingham,Surrey,CR6 9SW,01677-684257,01583-287367,mteplica@teplica.co.uk,http://www.curtinpatriciamesq.co.uk,904
23,Tamesha,Veigel,"Wilhelm, James E Jr",2200 Nelson St #58,Newport,Isle of Wight,PO30 5AL,01217-342071,01280-786847,tveigel@veigel.co.uk,http://www.wilhelmjamesejr.co.uk,790
24,Tess,Sitra,Smart Signs,61 Rossett St,Chichester,West Sussex,PO19 1RH,01473-229124,01848-116775,tess_sitra@hotmail.com,http://www.smartsigns.co.uk,447
25,Leonard,Kufner,Arctic Star Distributing Inc,41 Canning St,Steornabhagh a Deas Ward,Western Isles,HS1 2PZ,01230-623547,01604-718601,lkufner@kufner.co.uk,http://www.arcticstardistributinginc.co.uk,872
26,Svetlana,Tauras,"Lensbower, Gregory L Esq",8289 Cadogan St,South Ward,North Eart Lincolnshire,DN33 1AU,01781-827317,01509-121140,svetlana_tauras@tauras.co.uk,http://www.lensbowergregorylesq.co.uk,570
27,Pok,Molaison,Portal Metal Products,211 Hobart St,Newquay,Cornwall,TR7 1LS,01866-248660,01315-284286,pok@yahoo.com,http://www.portalmetalproducts.co.uk,411
28,Augustine,Growcock,"Lynema, Cliff Cpa",114 Falkland St #8845,Brimpton,Berkshire,RG7 4RF,01541-802635,01926-108010,augustine.growcock@growcock.co.uk,http://www.lynemacliffcpa.co.uk,40
29,Karma,Quarto,J C S Machinery,1 Birkett St,Shard End Ward,West Midlands,B33 0NH,01857-864722,01307-667811,kquarto@gmail.com,http://www.jcsmachinery.co.uk,848
...,...,...,...,...,...,...,...,...,...,...,...,...
470,Tony,Diazdeleon,Dilling Harris Inc,529 Llanrwst St,Southam,Gloucestershire,GL52 8TW,01765-102036,01877-593275,tony@gmail.com,http://www.dillingharrisinc.co.uk,406
471,Val,Villot,Horizon Air Magazine,1980 Tynemouth St,Almond Ward,West Lothian,EH52 5PY,01375-870188,01602-987840,val@yahoo.com,http://www.horizonairmagazine.co.uk,248
472,Mel,Picciuto,Avante Limited,8598 Rumney Rd,Hylands Ward,Essex,RM11 1QL,01885-270480,01268-443299,mel.picciuto@gmail.com,http://www.avantelimited.co.uk,539
473,Isabella,Piatkowski,"Miller, William E Iii",9283 Ruth St #81,Dormers Wells Ward,Greater London,UB1 2FH,01979-186995,01998-980054,isabella_piatkowski@piatkowski.co.uk,http://www.millerwilliameiii.co.uk,305
474,Erasmo,Rhea,Martin Morrissey,5544 Sutherland St,Mortehoe,Devon,EX34 7DQ,01507-386397,01899-316385,erasmo_rhea@hotmail.com,http://www.martinmorrissey.co.uk,790
475,Ivory,Lohrenz,Auto Body Color,9 Jackson St,Parr Ward,Merseyside,WA9 3QW,01876-642683,01651-132519,ivory@hotmail.com,http://www.autobodycolor.co.uk,218
476,Nikita,Walka,"Fred, Anthony Esq",3612 Bixteth St,Hucknall North Ward,Nottinghamshire,NG15 8DD,01282-123434,01724-455145,nwalka@hotmail.com,http://www.fredanthonyesq.co.uk,771
477,Aleta,Ligons,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk,413
478,Owen,Jentzen,Capital Fasteners Inc,5 Hampden St,Liscard Ward,Merseyside,CH45 4RN,01467-142439,01917-137038,owen_jentzen@jentzen.co.uk,http://www.capitalfastenersinc.co.uk,910
479,Pauline,Fling,Cumberland Vacuum Products,6452 Pilgrim St #5,Seven Sisters Ward,Greater London,N15 6TH,01990-476494,01458-113457,pfling@fling.co.uk,http://www.cumberlandvacuumproducts.co.uk,950
480,Tijuana,Machalek,"Schwartz, Thomas E Esq",1149 Highfield Rd #996,Fareham South Ward,Hampshire,PO14 9JJ,01242-532395,01336-686264,tijuana.machalek@gmail.com,http://www.schwartzthomaseesq.co.uk,597
481,Ahmad,Alsaqri,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk,576
482,Jamika,Conoly,"Keller, Raymond C",19 Soho St,Whitley Ward,Berkshire,RG1 9XH,01726-595316,01597-168997,jamika_conoly@conoly.co.uk,http://www.kellerraymondc.co.uk,265
483,Derrick,Dolloff,Proto Tek Manufacturing,236 Blantyre Rd,Everton Ward,Merseyside,L6 2EN,01982-734773,01619-554437,derrick_dolloff@gmail.com,http://www.prototekmanufacturing.co.uk,675
484,Jacquelyne,Reibman,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk,65
485,Zachary,Freeburger,Country Kitchen,58 Gloucester Rd,Holbrook,Derbyshire,DE56 0TX,01888-641397,01240-433924,zachary.freeburger@freeburger.co.uk,http://www.countrykitchen.co.uk,43
486,Sophia,Gaucher,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk,298
487,Isabelle,Kono,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk,918
488,Ronnie,Brigman,Howard Johnson,6 Morley St,Batchwood Ward,Hertfordshire,AL3 5JN,01943-754681,01972-686199,ronnie@brigman.co.uk,http://www.howardjohnson.co.uk,792
489,Krystina,Schlabaugh,Harris Oldsmobile Inc,7316 Friar St,Salvington Ward,West Sussex,BN13 3FL,01441-846477,01332-799979,kschlabaugh@schlabaugh.co.uk,http://www.harrisoldsmobileinc.co.uk,226
490,Rosita,Ausdemore,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk,900
491,Huey,Stancil,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk,509
492,Elbert,Fiorino,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk,937
493,Pura,Manciel,Cia Inspection,7 Water St,Priory Heath Ward,Suffolk,IP3 9RB,01853-412588,01386-437186,pura.manciel@yahoo.com,http://www.ciainspection.co.uk,808
494,Alesia,Katie,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk,868
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk,643
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk,328
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk,966
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk,681
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk,757

In [15]:
np.nan

nan

In [16]:
data = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])

In [17]:
data['four'] = 'bar'
data['five'] = data['one'] > 0


data

        one       two     three four   five
a  0.629377 -0.137526  1.294765  bar   True
c -1.599677  1.509704  0.183807  bar  False
e -0.787029 -0.905787  1.878208  bar  False
f  0.111475 -0.241675  0.209180  bar   True
h -2.402364  0.819923 -0.692477  bar  False

In [18]:
data2 = data.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
data2

        one       two     three four   five
a  0.629377 -0.137526  1.294765  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -1.599677  1.509704  0.183807  bar  False
d       NaN       NaN       NaN  NaN    NaN
e -0.787029 -0.905787  1.878208  bar  False
f  0.111475 -0.241675  0.209180  bar   True
g       NaN       NaN       NaN  NaN    NaN
h -2.402364  0.819923 -0.692477  bar  False

In [19]:
data2.dropna()

        one       two     three four   five
a  0.629377 -0.137526  1.294765  bar   True
c -1.599677  1.509704  0.183807  bar  False
e -0.787029 -0.905787  1.878208  bar  False
f  0.111475 -0.241675  0.209180  bar   True
h -2.402364  0.819923 -0.692477  bar  False

In [20]:
data2.fillna('raj')

        one       two     three four   five
a  0.629377 -0.137526   1.29477  bar   True
b       raj       raj       raj  raj    raj
c  -1.59968    1.5097  0.183807  bar  False
d       raj       raj       raj  raj    raj
e -0.787029 -0.905787   1.87821  bar  False
f  0.111475 -0.241675   0.20918  bar   True
g       raj       raj       raj  raj    raj
h  -2.40236  0.819923 -0.692477  bar  False

In [21]:
data2.fillna('raj')

        one       two     three four   five
a  0.629377 -0.137526   1.29477  bar   True
b       raj       raj       raj  raj    raj
c  -1.59968    1.5097  0.183807  bar  False
d       raj       raj       raj  raj    raj
e -0.787029 -0.905787   1.87821  bar  False
f  0.111475 -0.241675   0.20918  bar   True
g       raj       raj       raj  raj    raj
h  -2.40236  0.819923 -0.692477  bar  False

In [22]:
data2.isna()

     one    two  three   four   five
a  False  False  False  False  False
b   True   True   True   True   True
c  False  False  False  False  False
d   True   True   True   True   True
e  False  False  False  False  False
f  False  False  False  False  False
g   True   True   True   True   True
h  False  False  False  False  False

In [23]:
data2.notna()

     one    two  three   four   five
a   True   True   True   True   True
b  False  False  False  False  False
c   True   True   True   True   True
d  False  False  False  False  False
e   True   True   True   True   True
f   True   True   True   True   True
g  False  False  False  False  False
h   True   True   True   True   True

# Simple Imputer

In [24]:
imp = Imputer(missing_values=np.nan, strategy='mean')

In [25]:
# imp.fit([[1, 2], [np.nan, 3], [7, 6]])

In [28]:
X = [[np.nan, 2],
     [6, np.nan],
     [7, 6]]
imp.fit(X)

Imputer(axis=0, copy=True, missing_values=nan, strategy='mean', verbose=0)

In [29]:
print(imp.transform(X))

[[6.5 2. ]
 [6.  4. ]
 [7.  6. ]]