In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(100)

In [3]:
n1 = np.random.randint(18, 90, 300)

In [4]:
n2 = np.random.randn(300)

In [5]:
n3 = np.random.random(300)

In [6]:
n4 = 'ABCDEFGHIJKLMNOPQRSTUVWXY' * 12

In [15]:
data = pd.DataFrame({'ColA': list(n4), 'ColB': n1, 'ColC': n3, 'ColD': n2})
data

    ColA  ColB      ColC      ColD
0      A    26  0.500709  1.387602
1      B    42  0.500890 -1.735391
2      C    85  0.608903  0.288377
3      D    66  0.995365 -0.339085
4      E    28  0.247950  0.527369
5      F    70  0.738433 -0.374303
6      G    71  0.930044  0.477092
7      H    84  0.584412 -1.429763
8      I    32  0.880647  0.407707
9      J    52  0.692059 -0.828280
10     K    42  0.351418  0.423457
11     L    33  0.820699 -0.159517
12     M    78  0.237085  1.241082
13     N    76  0.921694  1.663536
14     O    34  0.918849 -0.661938
15     P    27  0.629531  3.465227
16     Q    20  0.512223  0.391439
17     R    45  0.299852  0.327245
18     S    22  0.451062 -0.311347
19     T    49  0.717144 -1.424656
20     U    19  0.289711 -0.624872
21     V    31  0.208844 -0.109995
22     W    22  0.316537  0.952959
23     X    77  0.573235 -0.983363
24     Y    85  0.462526 -1.094557
25     A    25  0.502619 -0.241349
26     B    67  0.487242 -0.595114
27     C    65  0.779227 -0.982812
28     D    83  0.390136  0.088230
29     E    79  0.768535 -0.602759
..   ...   ...       ...       ...
270    U    65  0.024792  1.211319
271    V    21  0.762795 -1.842234
272    W    23  0.265762 -0.368246
273    X    84  0.978827 -1.547993
274    Y    82  0.948686 -0.451672
275    A    63  0.725670 -1.137542
276    B    77  0.725505 -0.135877
277    C    27  0.050825  0.634379
278    D    31  0.594066 -0.013558
279    E    85  0.717127  0.375897
280    F    31  0.041873 -0.236582
281    G    67  0.485848  0.979141
282    H    57  0.986824  1.093748
283    I    56  0.047826 -1.383622
284    J    55  0.578852  1.010134
285    K    37  0.071559  0.872663
286    L    45  0.280142  1.037612
287    M    39  0.701822  0.302548
288    N    18  0.162322 -1.298117
289    O    19  0.492286  0.847864
290    P    54  0.954546 -0.268876
291    Q    69  0.589355  0.301983
292    R    51  0.606627 -2.271905
293    S    44  0.867987  0.757605
294    T    24  0.936548  0.876051
295    U    21  0.144160  2.156220
296    V    46  0.277007  1.288703
297    W    53  0.125322 -0.142535
298    X    49  0.884721  1.665905
299    Y    37  0.826738 -1.380114

[300 rows x 4 columns]

In [8]:
data.shape

(300, 4)

In [9]:
data.columns

Index(['ColA', 'ColB', 'ColC', 'ColD'], dtype='object')

In [10]:
data.head()

  ColA  ColB      ColC      ColD
0    A    26  0.500709  1.387602
1    B    42  0.500890 -1.735391
2    C    85  0.608903  0.288377
3    D    66  0.995365 -0.339085
4    E    28  0.247950  0.527369

In [11]:
data.sum()

ColA    ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...
ColB                                                15945
ColC                                              150.845
ColD                                              17.9339
dtype: object

In [12]:
data.mean()

ColB    53.150000
ColC     0.502817
ColD     0.059780
dtype: float64

In [13]:
data.aggregate('sum')

ColA    ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...
ColB                                                15945
ColC                                              150.845
ColD                                              17.9339
dtype: object

In [14]:
data.agg('sum')

ColA    ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...
ColB                                                15945
ColC                                              150.845
ColD                                              17.9339
dtype: object

In [ ]:
data.agg(['sum', 'mean', 'max', 'min'])

In [ ]:
data[['ColC', 'ColD']].agg(['sum', 'mean', 'median', 'max', 'min'])

In [ ]:
data[['ColC', 'ColD']].agg('sum')

In [ ]:
data[['ColC', 'ColD']].agg('mean')

In [ ]:
data.agg({'ColC': 'sum', 'ColD': 'sum'})

In [ ]:
data.agg({'ColC': 'sum', 'ColD': 'mean'})