In [1]:
l = list(input('Enter the list of char : '))

Enter the list of char : mkdfhlg;e'f,.,anfld

In [2]:
l

['m',
 'k',
 'd',
 'f',
 'h',
 'l',
 'g',
 ';',
 'e',
 "'",
 'f',
 ',',
 '.',
 ',',
 'a',
 'n',
 'f',
 'l',
 'd']

In [3]:
first_l_ascii = []

In [4]:
for i in l:
    first_l_ascii.append(ord(i))

In [5]:
first_l_ascii

[109,
 107,
 100,
 102,
 104,
 108,
 103,
 59,
 101,
 39,
 102,
 44,
 46,
 44,
 97,
 110,
 102,
 108,
 100]

In [6]:
rev_first = first_l_ascii[::-1]

In [7]:
rev_first

[100,
 108,
 102,
 110,
 97,
 44,
 46,
 44,
 102,
 39,
 101,
 59,
 103,
 108,
 104,
 102,
 100,
 107,
 109]

In [8]:
len(rev_first)

19

In [9]:
f_sub_list = []

In [10]:
for i in range(len(rev_first)-1):
        sub_1 = abs(rev_first[i]-rev_first[i+1])
        f_sub_list.append(sub_1)

In [11]:
f_sub_list

[8, 6, 8, 13, 53, 2, 2, 58, 63, 62, 42, 44, 5, 4, 2, 2, 7, 2]

In [12]:
first_l_ascii

[109,
 107,
 100,
 102,
 104,
 108,
 103,
 59,
 101,
 39,
 102,
 44,
 46,
 44,
 97,
 110,
 102,
 108,
 100]

In [13]:
s_sub_list = []

In [14]:
for i in range(len(first_l_ascii)-1):
    sub_2 = abs(first_l_ascii[i]-first_l_ascii[i+1])
    s_sub_list.append(sub_2)

In [15]:
s_sub_list

[2, 7, 2, 2, 4, 5, 44, 42, 62, 63, 58, 2, 2, 53, 13, 8, 6, 8]

In [16]:
sorted(s_sub_list)

[2, 2, 2, 2, 2, 4, 5, 6, 7, 8, 8, 13, 42, 44, 53, 58, 62, 63]

In [17]:
sorted(f_sub_list)

[2, 2, 2, 2, 2, 4, 5, 6, 7, 8, 8, 13, 42, 44, 53, 58, 62, 63]

In [18]:
if sorted(f_sub_list) == sorted(s_sub_list):
    print('funny')
else:
    print('not funny')

funny