In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(100)

In [3]:
n1 = np.random.randint(18, 90, 300)

In [4]:
n2 = np.random.randn(300)

In [5]:
n3 = np.random.random(300)

In [6]:
n4 = 'ABCDEFGHIJKLMNOPQRSTUVWXY' * 12

In [7]:
data = pd.DataFrame({'ColA': list(n4), 'ColB': n1, 'ColC': n3, 'ColD': n2})

In [8]:
data.shape

(300, 4)

In [9]:
data.columns

Index(['ColA', 'ColB', 'ColC', 'ColD'], dtype='object')

In [10]:
data.head()

  ColA  ColB      ColC      ColD
0    A    26  0.500709  1.387602
1    B    42  0.500890 -1.735391
2    C    85  0.608903  0.288377
3    D    66  0.995365 -0.339085
4    E    28  0.247950  0.527369

In [11]:
data.sum()

ColA    ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...
ColB                                                15945
ColC                                              150.845
ColD                                              17.9339
dtype: object

In [12]:
data.mean()

ColB    53.150000
ColC     0.502817
ColD     0.059780
dtype: float64

In [13]:
data.aggregate('sum')

ColA    ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...
ColB                                                15945
ColC                                              150.845
ColD                                              17.9339
dtype: object

In [14]:
data.agg('sum')

ColA    ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...
ColB                                                15945
ColC                                              150.845
ColD                                              17.9339
dtype: object

In [15]:
data.agg(['sum', 'mean', 'max', 'min'])

,ColA,ColB,ColC,ColD
sum,ABCDEFGHIJKLMNOPQRSTUVWXYABCDEFGHIJKLMNOPQRSTU...,15945.00,150.844961,17.933869
max,Y,89.00,0.996965,3.465227
min,A,18.00,0.000799,-2.305258
mean,NaN,53.15,0.502817,0.059780

In [16]:
data[['ColC', 'ColD']].agg(['sum', 'mean', 'median', 'max', 'min'])

              ColC       ColD
sum     150.844961  17.933869
mean      0.502817   0.059780
median    0.501754   0.016817
max       0.996965   3.465227
min       0.000799  -2.305258

In [17]:
data[['ColC', 'ColD']].agg('sum')

ColC    150.844961
ColD     17.933869
dtype: float64

In [18]:
data[['ColC', 'ColD']].agg('mean')

ColC    0.502817
ColD    0.059780
dtype: float64

In [19]:
data.agg({'ColC': 'sum', 'ColD': 'sum'})

ColC    150.844961
ColD     17.933869
dtype: float64

In [20]:
data.agg({'ColC': 'sum', 'ColD': 'mean'})

ColC    150.844961
ColD      0.059780
dtype: float64