In [1]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
diamonds = sns.load_dataset('diamonds')

In [3]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
carat      53940 non-null float64
cut        53940 non-null object
color      53940 non-null object
clarity    53940 non-null object
depth      53940 non-null float64
table      53940 non-null float64
price      53940 non-null int64
x          53940 non-null float64
y          53940 non-null float64
z          53940 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [4]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [5]:
X = diamonds[['carat', 'depth', 'table', 'x', 'y', 'z']].values
y = diamonds['price'].values

In [6]:
X.shape

(53940, 6)

In [7]:
y.shape

(53940,)

In [8]:
X

array([[ 0.23, 61.5 , 55.  ,  3.95,  3.98,  2.43],
       [ 0.21, 59.8 , 61.  ,  3.89,  3.84,  2.31],
       [ 0.23, 56.9 , 65.  ,  4.05,  4.07,  2.31],
       ...,
       [ 0.7 , 62.8 , 60.  ,  5.66,  5.68,  3.56],
       [ 0.86, 61.  , 58.  ,  6.15,  6.12,  3.74],
       [ 0.75, 62.2 , 55.  ,  5.83,  5.87,  3.64]])

In [9]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [10]:
X

array([[-1.19816781, -0.17409151, -1.09967199, -1.58783745, -1.53619556,
        -1.57112919],
       [-1.24036129, -1.36073849,  1.58552871, -1.64132529, -1.65877419,
        -1.74117497],
       [-1.19816781, -3.38501862,  3.37566251, -1.49869105, -1.45739502,
        -1.74117497],
       ...,
       [-0.20662095,  0.73334442,  1.13799526, -0.06343409, -0.04774083,
         0.03013526],
       [ 0.13092691, -0.52310533,  0.24292836,  0.37338325,  0.33750627,
         0.28520393],
       [-0.10113725,  0.31452784, -1.09967199,  0.08811478,  0.11861587,
         0.14349912]])

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=100)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [12]:
regr = LinearRegression()
regr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
regr.coef_

array([ 5056.97430214,  -308.16404549,  -226.62131504, -1570.12603619,
          50.532183  ,   161.78208426])

In [14]:
regr.intercept_

3935.9412167747982

In [15]:
y_pred = regr.predict(X_test)

In [16]:
y_test.shape

(5394,)

In [17]:
y_pred.shape

(5394,)

In [18]:
mean_squared_error(y_test, y_pred)

2096955.1683369412

In [19]:
r2_score(y_test, y_pred)

0.8630027771471165